<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <!--div class='title'>Memes Understanding</div>
    <p class='subtitle'>
      Uploaded images are deleted! They are not Saved!!
    </p>
    <p class='subtitle'>
      Click "Select Image" button to pick the image, upload image that has only one face.  
    </p>
    <p class='subtitle'>
      The face should be frontal. Advisably take off your eye eyeglasses.
    </p>
    <p class='subtitle'>
      Then click on the "estimate button". Thank you!
    </p-->
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select an Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='800'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Get the Text</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
